
/* SVG */

/* .cpu-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 19.75px;
  top: calc(50% - 20px/2 - 34.41px);
  filter: drop-shadow(0px 0px 7px rgba(183, 109, 240, 0.7));
  color: #9D4EDD;
} */
